<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="bg-gray-100 font-sans leading-normal text-gray-800">
    <header>
        {{ nav:main_navigation include_home="true" }}
        <ul>
        <li class="has-submenu">
            <a href="{{ url }}"{{ if is_current || is_parent }} class="on"{{ endif }}>{{ title }}</a>
            {{ if children }}
            <ul class="level{{ index }}">
                <li class="header-main__item">{{ *recursive children* }}</li>
            </ul>
            {{ endif }}
        </li>
        </ul>
        {{ /nav:main_navigation }}
    </header>
        <div class="mx-auto px-2 lg:min-h-screen flex flex-col items-center justify-center">
            {{ template_content }}
        </div>
    </body>
</html>
